@import "tailwindcss";

@theme {
  /* color */
  --color-primary: #c1ff72;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@layer utilities {
  .container {
    @apply w-full max-w-[105rem] my-0 mx-auto py-0 sm:px-7 px-5;
  }
}
